<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @travel.user_id %>
</p>

<p>
  <b>Viagem:</b>
  <%= @travel.viagem_id %>
</p>


<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
